body{
    background-image: url('./images/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#handleSection {
    text-align: center;
    color: white;
    margin-top: 90px;
}

#location {
    text-transform: capitalize;
}